/* overall control */
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  background: url("images/pic1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: "Roboto Slab", serif;
  color: black;
}
h2 {
  font-size: 18px;
  margin-top: 0;
  text-align: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  box-shadow: 3px 3px black;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  border: 5px solid rgba(26, 25, 25, 0.2);
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  background-color: rgba(26, 25, 25, 0.7);
}
.button {
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
  border-radius: 5px;
  margin: 5px;
}
.button:hover {
  border-bottom: 2px solid rgb(0, 204, 180);
  color: rgb(0, 204, 180);
  cursor: pointer;
}
.page-top {
  margin-top: 20px;
}

.contact {
  padding: 5px;
}
.contact li {
  text-align: center;
}
/* nav content */
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav h2 {
  font-size: 16px;
  margin: 0;
}
.tab {
  border-bottom: 2px solid white;
  border-radius: 10px;
  padding: 8px;
  margin: 5px;
  text-align: center;
}
.active-tab {
  border-bottom: 2px solid rgb(0, 204, 180);
  color: rgb(0, 204, 180);
}

/* About Me/Bio specific  */
.question-box {
  margin-top: 20px;
}
.question {
  background-color: rgb(193, 61, 5);
  padding: 5px;
  margin-bottom: 0px;
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}
.answer {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
}
.main-icon {
  text-align: center;
  margin: 0 auto;
}
.main-icon a .button {
  color: white;
}
.bio img {
  display: block;
  margin: 20px auto;
  border-radius: 100px;
  width: 200px;
}

.bio li {
  margin-bottom: 20px;
}

.bio h2 {
  text-align: center;
}

.bio {
  margin: 0 auto;
  padding: 10px;
}

.bio a,
.contact-info a {
  display: inline-block;
  border: 1px solid rgb(0, 204, 180);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  color: rgb(0, 204, 180);
  box-shadow: 3px 3px rgb(0, 0, 0);
}
.contact-info {
  width: 90%;
  margin: 10px auto;
  font-size: 16px;
}

.location {
  overflow: hidden;
  white-space: nowrap;
}

/*project tab */

.demo {
  width: 50%;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.project img {
  width: 100%;
}
.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.project-buttons a {
  width: 47%;
  border: 1px solid white;
  margin: 0 10px;
  text-align: center;
}
.project ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* controls paragraphs */
.about-project {
  margin-bottom: 10px;
}
.project h2 {
  width: 90%;
  margin-top: 40px;
  text-align: center;
  border-radius: 20px;
  padding: 6px;
  margin-bottom: 0;
}
.project li {
  border-bottom: 2px solid white;
  margin: 3px;
  padding: 2px;
  width: 50px;
  font-size: 12px;
  text-align: center;
}

.version-control {
  margin: 0px;
  margin-bottom: 15px;
  font-size: 12px;
}

/* dungeoneer project */
.dungeoneer-project {
  background-color: rgb(231, 230, 220);
  color: rgb(212, 50, 45);
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.dungeoneer-demo {
  color: rgb(231, 230, 220);
  background-color: rgb(212, 50, 45);
}
/* simple-budget project */
.simple-budget-project {
  background-color: #54f359;
  color: black;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.simple-budget-demo {
  background-color: black;
  color: #54f359;
}

/* bubble-project */
.bubble-project {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}
.bubble-demo {
  background-color: white;
  color: black;
}
.single-project-button {
  width: 70%;
}
img {
  border-radius: 20px;
}

p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
/*media queries*/
/* phones over 400px */
@media only screen and (min-width: 400px) {
  nav h2 {
    font-size: 20px;
  }
  .question {
    font-size: 20px;
  }
}

@media only screen and (min-device-width: 768px) {
  main {
    width: 90%;
  }
  .demo {
    font-size: 20px;
  }
  .project img {
    width: 80%;
  }
  .project h2 {
    font-size: 24px;
  }
  .project {
    margin-bottom: 20px;
  }
  nav h2 {
    font-size: 24px;
  }
  nav {
    justify-content: space-around;
  }
  .active-tab {
    border-width: 4px;
  }
  .tab {
    border-width: 4px;
  }
  .button:hover {
    border-width: 4px;
  }

  .bio a,
  .contact-info a {
    border: 2px solid rgb(0, 204, 180);
    font-size: 20px;
  }
  .contact-info h2 {
    font-size: 20px;
  }
  address {
    font-size: 18px;
  }
  .wrapper {
    width: 75%;
  }
}
@media only screen and (min-device-width: 1224px) {
  .questions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .question-box {
    width: 45%;
  }
  .project li {
    font-size: 14px;
    width: 60px;
  }
}
